form {
  padding-top: 50px;
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 10px;
  button {
    margin-top: 40px;
  }
}
.container-login {
  height: 400px;
  background-color: #f3f3f3;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 200px;
}
.wrapper {
  background: #2b2d42 !important;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  .title {
    position: absolute;
    color: red;
    right: 8%;
    transform: translate(-50%, -50%);
    top: 20%;
  }
}

.notificacion {
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translate(50%, 50%);
}
.deadpool {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
}
.deadpool2 {
  position: absolute;
  right: 0;
  bottom: 0;
  img:first-child {
    width: 400px;
  }
  img {
    width: 200px;
  }
}

@media screen and (max-width: 1104px) {
  .wrapper {
    position: relative;
    min-height: 700px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
    .container-login {
      margin-top: 100px;
    }
  }
  .deadpool {
    display: none;
  }
  .deadpool2 {
    position: absolute;
    img:first-child {
      position: absolute;
      right: 100px;
      bottom: 0;
      width: 300px;
    }
    img:last-child {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 150px;
    }
  }
}
