.empty-container {
  font-family: Comics;
  margin-top: 50px;
  color: #edf2f4;
  display: grid;
  justify-content: center;

  h1 {
    font-family: Comics;
    font-size: 3em;
    margin: 50px 0px 75px;
  }
  button {
    width: 150px;
    margin: 0 auto;
  }
}

.main-container {
  justify-content: center;
  text-align: center;
  border: 5px solid #edf2f43a;
  border-radius: 5px;
  color: #edf2f4;
  margin: 5% 8%;
  .title {
    position: relative;
    top: -20px;
    width: 300px;
    margin: 0 auto;
    background: #2b2d42;
    font-size: 5em;
    font-family: Comics;
  }
}
.chart-container {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.deadpool {
  position: absolute;
  width: 700px;
  right: 0px;
  bottom: 0px;
}

.stats {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .stats-title {
    grid-column: span 3;
    margin-top: 75px;
    margin-bottom: 100px;
    h2 {
      font-family: Comics;
      font-size: 3em;
    }
    hr {
      border: 3px solid #edf2f4;
      width: 30%;
      border-radius: 5px;
    }
  }

  .chart-container {
    grid-column: span 2;
    h3 {
      font-family: Comics;
      text-align: left;
      font-size: 2em;
    }
  }
  .average-stats {
    margin-right: 0%;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 15px;
    h3,
    h4 {
      font-family: Comics;
      font-size: 2.5em;
      text-align: left;
      margin-bottom: 100px;
    }
  }
}
.logout {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.logout-2-container {
  width: 100%;
  display: grid;
  justify-content: center;
  .logout-2 {
    padding: 20px 0;
  }
}
@media screen and (max-width: 1000px) {
  .main-container {
    margin: 10% 1% 1%;
  }
  .chart-container {
    width: 95vw;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .stats {
    display: grid;
    grid-template-columns: 1fr;

    .stats-title {
      grid-column: span 1;
    }

    .chart-container {
      grid-column: span 1;
      h3 {
        text-align: center;
      }
    }
    .average-stats {
      margin: 10px;
      h3,
      h4 {
        text-align: center;
        margin-bottom: 90px;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .empty-container {
    h1 {
      text-align: center;
      font-family: Comics;
      font-size: 3em;
      margin: 50px 20px 75px;
    }
    img {
      width: 100vw;
      max-width: 400px;
    }
  }
  .logout {
    position: relative;
    left: 0;
    bottom: 0;
    margin: 20vh auto;
  }
  .logout-2 {
    margin: 20px 50vh;
  }
}
