.card {
  width: 300px;
  margin-bottom: 20px;
  background-color: #8d99ae;
  .card-img-top {
    height: 390px;
    object-fit: cover;
  }
  .card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .card-title {
      position: absolute;
      top: 78%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(0, 0, 0);
      font-size: 2em;
      font-family: Comics;
      max-width: 100%;
      padding: 0 5px;
      text-align: center;
      background: #ddd;
      border: 1px solid #222;
      box-shadow: 3px 3px 0 #222;
    }
    .alignment {
      font-family: Comics;
      position: absolute;
      top: 1%;
      right: 3%;
      padding: 0 5px;
      background: #ddd;
      border: 1px solid #222;
      box-shadow: 3px 3px 0 #222;
      color: rgb(0, 0, 0);
    }
  }
}
.modal-dialog {
  width: 1200px !important;
  max-width: 1200px !important;
}
.notificacion {
  position: fixed;
  bottom: 40px;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 1000000;
}
