/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green {
  background: #63b95b !important;
  button {
    color: rgb(216, 216, 216) !important;
    background: transparent;
  }
}
.red {
  background: #d63200 !important;
  button {
    color: rgb(216, 216, 216) !important;
    background: transparent;
  }
}
.custom .modal-dialog {
  max-width: 70vw;
  height: 70vh;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
