.modal-header {
  .title-name {
    text-align: center;
    width: 100%;
    font-family: Comics;
    font-size: 3em;
    letter-spacing: 5px;
    margin: 0 !important;
    color: white;
  }
}

.modal-body {
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  .info {
    text-align: center;
    h2 {
      font-family: Comics;
      font-size: 2em;
    }
  }
}
.wrapper {
  background-color: #2b2d42;
}
.modal-dialog {
  width: 1200px !important;
}
@media screen and (max-width: 1000px) {
  .modal-body {
    grid-template-columns: 1fr;
    .stats {
      width: 60vw;
      margin: 0 auto;
    }
    .info {
      .title-name {
        padding: 0;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .modal-body {
    .stats {
      width: 100%;
      margin: 0;
    }
  }
}
