<div class="wrapper">

    <div class="modal-header">
        <h1 class="title-name">{{ hero.name }}</h1>

    </div>
    <div class="modal-body">
        <div class="stats">
            <app-chart [stats]='hero.powerstats'></app-chart>
        </div>
        <div class="info">
            <h2>Name:{{checkEmpty(hero.biography["full-name"])}}</h2>
            <h2>Alias:{{checkEmpty(hero.name)}}</h2>
            <h2>Weight:{{checkEmpty(hero.appearance.weight[1])}}</h2>
            <h2>Height:{{checkEmpty(hero.appearance.height[1])}}</h2>
            <h2>Eye color:{{checkEmpty(hero.appearance["eye-color"])}}</h2>
            <h2>Place of work:{{checkEmpty(hero.work.base)}}</h2>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" (click)="activeModal.close('Close click')">
            Close
        </button>
    </div>
</div>